#include <stdint.h>
#include <math.h>

#include "complex_{{ type.suffix }}.h"

complex_{{ type.suffix }}_t complex_multiply_{{ type.suffix }}(complex_{{ type.suffix }}_t x, complex_{{ type.suffix }}_t y) 
{
	complex_{{ type.suffix }}_t ret;

	ret.real = (x.real * y.real) - (x.imag * y.imag);
	ret.imag = (x.real * y.imag) + (y.real * x.imag);

	return ret;
}

complex_{{ type.suffix }}_t complex_add_{{ type.suffix }}(complex_{{ type.suffix }}_t x, complex_{{ type.suffix }}_t y)
{
	complex_{{ type.suffix }}_t ret;

	ret.real = x.real + y.real;
	ret.imag = x.imag + y.imag;

	return ret;
}

complex_{{ type.suffix }}_t complex_conjugate_{{ type.suffix }}(complex_{{ type.suffix }}_t x)
{
	complex_{{ type.suffix }}_t ret;

	ret.real = x.real;
	ret.imag = - x.imag;

	return ret;
}

{{ type.name }} complex_magnitude_{{ type.suffix }}(complex_{{ type.suffix }}_t x)
{
	return {{ type.math_prefix }}sqrt{{ type.math_suffix }}( (x.real * x.real) + (x.imag * x.imag) );
}
