#ifndef COMPLEX_{{ type.suffix | upper }}_H
#define COMPLEX_{{ type.suffix | upper }}_H

#ifdef __cplusplus
extern "C" {
#endif

#include <stdint.h>
#include <math.h>

/* This defines the type for a single complex number for type {{ type.name }} */
typedef struct {
	{{ type.name }} real;
	{{ type.name }} imag;
} complex_{{ type.suffix }}_t;

complex_{{ type.suffix }}_t complex_multiply_{{ type.suffix }}(complex_{{ type.suffix }}_t x, complex_{{ type.suffix }}_t y);
complex_{{ type.suffix }}_t complex_add_{{ type.suffix }}(complex_{{ type.suffix }}_t x, complex_{{ type.suffix }}_t y);
complex_{{ type.suffix }}_t complex_conjugate_{{ type.suffix }}(complex_{{ type.suffix }}_t x);
{{ type.name }} complex_magnitude_{{ type.suffix }}(complex_{{ type.suffix }}_t x);

#ifdef __cplusplus
}
#endif

#endif // COMPLEX_{{ type.suffix | upper }}_H
