#include <stdint.h>
#include "constants_{{ type.suffix }}.h"

const {{ type.name }} pi_{{ type.suffix }} = 3.14159265358979323846;
const {{ type.name }} pi2_{{ type.suffix }} = 6.28318530717958647692;
