#ifndef CONSTANTS_{{ type | upper }}_H
#define CONSTANTS_{{ type | upper }}_H

#ifdef __cplusplus
extern "C" {
#endif

extern const {{ type }} pi_{{ type }};
extern const {{ type }} pi2_{{ type }};

#ifdef __cplusplus
}
#endif

#endif // CONSTANTS_{{ type | upper }}_H
