#ifndef FIR_{{ type.suffix | upper }}_H
#define FIR_{{ type.suffix | upper }}_H

#ifdef __cplusplus
extern "C" {
#endif

#include <math.h>
#include <stdint.h>

struct fir_{{ type.suffix }}_t {
	{{ type.name }} *b;
	{{ type.name }} *in_buff;
	uint16_t taps;
	uint16_t cycle;
};

void fir_filter_{{ type.suffix }}({{ type.name }} *data_in, {{ type.name }} *data_out, struct fir_{{ type.suffix }}_t *filter,
				uint32_t length);
void fir_decimate_{{ type.suffix }}({{ type.name }} *data_in, {{ type.name }} *data_out, struct fir_{{ type.suffix }}_t *filter,
				  uint32_t length, uint8_t decimation_rate);

#ifdef __cplusplus
}
#endif

#endif /* FIR_{{ type.suffix | upper }}_H */
