#ifndef FIR_{{ type | upper }}_H
#define FIR_{{ type | upper }}_H

#ifdef __cplusplus
extern "C" {
#endif

#include <math.h>
#include <stdint.h>

struct fir_{{ type }}_t {
	{{ type }} *b;
	{{ type }} *in_buff;
	uint16_t taps;
	uint16_t cycle;
};

void fir_filter_{{ type }}({{ type }} *data_in, {{ type }} *data_out, struct fir_{{ type }}_t *filter,
				uint32_t length);
void fir_decimate_{{ type }}({{ type }} *data_in, {{ type }} *data_out, struct fir_{{ type }}_t *filter,
				  uint32_t length, uint8_t decimation_rate);

#ifdef __cplusplus
}
#endif

#endif /* FIR_{{ type | upper }}_H */
