#ifndef JSON_TO_FILT_{{ type.suffix | upper }}_H
#define JSON_TO_FILT_{{ type.suffix | upper }}_H

#include "../cjson/cJSON.h"
#include "fir_{{ type.suffix }}.h"
#include "iir_{{ type.suffix }}.h"

{{ type.name }} get_sample_rate_from_json_{{ type.suffix }}(cJSON *f_s_node);
void init_fir_from_json_{{ type.suffix }}(struct fir_{{ type.suffix }}_t *filt, cJSON *fir_node);
void init_iir_from_json_{{ type.suffix }}(struct iir_{{ type.suffix }}_t *filt, cJSON *iir_node);
void init_sos_from_json_{{ type.suffix }}(struct sos_filter_{{ type.suffix }}_t *filt, cJSON *sos_node);

void free_fir_{{ type.suffix }}(struct fir_{{ type.suffix }}_t *filt);
void free_iir_{{ type.suffix }}(struct iir_{{ type.suffix }}_t *filt);
void free_sos_{{ type.suffix }}(struct sos_filter_{{ type.suffix }}_t *filt);

#endif /* JSON_TO_FILT_{{ type.suffix | upper }}_H */
