#ifndef SPECTRUM_GEN_{{ type.suffix | upper }}_H
#define SPECTRUM_GEN_{{ type.suffix | upper }}_H

#ifdef __cplusplus
extern "C" {
#endif

#include <stdint.h>
#include "spectrum_gen_shared.h"
#include "waveform_gen_{{ type.suffix }}.h"

void generate_spectrum_waveform_{{ type.suffix }}({{ type.name }} *t, {{ type.name }} *x, uint32_t data_length, uint32_t sample_rate, uint32_t num_steps, AMPLITUDE_SPECTRUM_E profile);

#ifdef __cplusplus
}
#endif

#endif /* SPECTRUM_GEN_{{ type.suffix | upper }}_H */
